@import url('https://fonts.googleapis.com/css2?family=Esteban:wght@400&display=swap');

@font-face {
  font-family: "Cloister";
  src: url('/fonts/CloisterBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Variables globales y paleta de colores */
:root {
  /* Paleta principal en rgba */
  --color-primary: rgba(0, 0, 0, 1);
  --color-secondary: rgba(255, 255, 255, 1);
  --color-third: rgba(68, 68, 68, 1);
  --color-fourth: rgba(146, 144, 144, 1);

  --font-main: "Esteban", serif;
  --font-title: "Cloister", "Esteban", serif;

  --border-radius: 10px;
}

/* LAYOUT */
body {
  background-color: var(--color-primary);
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  body {
    max-width: 360px;
    width: 100vw;
    margin: 0 auto;
    overflow-x: hidden;
  }
}